<html lang="en">
  <%- include("../components/header.ejs") %>

  <body>
    <%- include("../components/navbar.ejs") %>

    <div class="create content">
      <%- include("../components/message.ejs", { message }) %>

      <form action="/api/v1/library/search" method="post">
        <label for="type">Type:</label>
        <select id="type" name="type" onclick="placeHolderChange()">
          <option value="ISBN">ISBN</option>
          <option value="AUTHORS">AUTHORS</option>
        </select>

        <label for="filter">Filter:</label>
        <input type="text" id="filter" name="filter" required />

        <input type="submit" value="Search" name="submit" />
      </form>
    </div>

    <%- include("../components/footer.ejs") %> <%- include("./script.ejs") %>
  </body>
</html>
