<html lang="en">
  <%- include("../components/header.ejs") %>

  <body>
    <%- include("../components/navbar.ejs") %>

    <div class="create content">
      <%- include("../components/message.ejs", { message }) %>

      <form action="/api/v1/library/book" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" placeholder="E.g., 1111-1111-1111" name="isbn" />

        <label for="authors">Authors:</label>
        <input
          type="text"
          id="authors"
          placeholder="Comma separated emails, E.g., auth1@eml.com,auth2@eml.in"
          name="authors"
        />

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <input type="submit" value="Add Book" name="submit" />
      </form>
    </div>

    <%- include("../components/footer.ejs") %> <%- include("./script.ejs") %>
  </body>
</html>
