<% if (data?.content.length) { %>
<table>
  <tr>
    <% for (let table of data.table) { %>
    <th><%= table.header %></th>
    <% } %>
  </tr>

  <% for (let content of data.content) { %>
  <tr>
    <% for (let table of data.table) { %> 
      <% if (table.key === 'authors') { %>
    <td>
      <% for (let author of content[table.key]) { %>
      <p><%= author.email %> (<%= author.firstname || '' %> <%= author.lastname || '' %>) ;</p><br />
      <% } %>
    </td>
    <% } else if (table.key === 'publishedAt') { %>
    <td><%= content[table.key]?.toDateString() || '' %></td>
    <% } else { %>
    <td><%= content[table.key] || '' %></td>
    <% } %> <% } %>
  </tr>
  <% } %>
</table>
<% } else { %>
<div class="hoarding"><h1>No data found</h1></div>
<% } %>
